@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');
h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: 'Noto Serif KR', serif;
}
.background-pic {
    background-position: bottom center;
    background-size: cover;
}

.background-pic .toggle-target {
    transition: all 1s;
}

.background-pic:hover .toggle-target {
    text-shadow: 5px 5px 5px black;
}

#marvel-app-bg {
    background-image: linear-gradient(to top, rgb(143, 142, 163), transparent), url(./bgs/marvel-app-bg.PNG);
}
#blog-app-bg {
    background-image: linear-gradient(to top, rgb(143, 142, 163), transparent), url(./bgs/blog-app-bg.PNG);
}
#chato-bg {
    background-image: linear-gradient(to top, rgb(143, 142, 163), transparent), url(./bgs/chato-bg.PNG);
}
button:hover {
    color: white;
}
.hide {
    display: none;
}
.slide-down {
    animation-name: slidedown;
    animation-duration: 0.6s;
}
@keyframes slidedown {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
.slide-up {
    animation-name: slideup;
    animation-duration: 0.6s;
}
@keyframes slideup {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
        transform: translateY(-20px);
    }
}
.flip-box {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
}
.flip-box:hover {
    transform: rotateY(180deg);
}
.front {
    position: absolute;
    background-color: indigo;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index : 1;
    overflow: hidden;
}
.back {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.skill-icon {
    transition: all 1s;
}
.skill-icon:hover {
    scale: 1.1;
}